@import "./src/assets/scss/variables";

.content-list {
    .category {
        display: flex;
        li {
            font-size: 14px;
            margin-bottom: $marginShort;
            color: $gray;
            &:after {
                content: '>';
                margin-left: 5px;
                margin-right: 5px;
            }
            &:last-child {
                font-weight: bold;
                &:after {
                    content: '';
                }
            }
        }
    }
    .list-of-products {
        background: white;
        padding: 0 $marginShort;
        .product {
            display: block;
        }
    }
}